
<div class="card" style="width: 18rem;" id="leftbox">
    <img src="../assets/download.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">game name</h5>
     
      <a href="#" class="btn btn-primary">more</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;" id="middlebox">
    <img src="../assets/wp2872485.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">game name</h5>
     
      <a href="#" class="btn btn-primary">more</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;" id="rightbox">
    <img src="../assets/b76fef7e01800d171b3c5a6f309f1999.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">game name</h5>
     
      <a href="#" class="btn btn-primary">more</a>
    </div>
  </div>
  <br>
<br>
<br>

<div class="container" style="padding-top: 6cm; align-items: center; margin-left: 25%;">

<h3 style="color: blue;">Know more about games</h3>


<button  type="button" class="btn btn-success" routerLink="/list"> show more</button>

</div>